
/**
 * used this css in print fees receipt.
 */
.bottom-content-left{
    height: 100px;
    width: 250px;
    border: 1px solid black;
    margin-bottom: 15px;
}
.bottom-content-right{
    height: 100px;
    width: 250px;
    border: 1px solid black;
    margin-left: 375px;
    margin-bottom: 15px;
}
#pcr .table {
    width:70%;
    border:1px solid black;
    border-collapse: collapse;
    font-size: 13px;
}
.table-main td,th {
    border:none;
}
.table-border td,th {
    border:1px solid black;
}
.border-none {
    border:none;
}
.text-left {
    text-align:left;
}
.text-right {
    text-align:right;
}
.text-center {
    text-align:center;
}
.vcenter {
    vertical-align:middle;
} 
.org-title {
    font-size:22px;
    font-weight:bold;

}
.org-address {
    font-size:12px;
}
.border-hide {
    border-bottom:hidden;
    border-left:hidden;
}
.header {
    background:#ddd;
}
.padding-left {
    padding-left:1%;
}
.padding-right { 
    padding-right:1%;
}

@media print {
    #pcr .table {
        width: 100% !important;
    }
    .link-class{
        display:none;
    }
    @page{
        margin-top:35px !important;
        margin-left:35px;
        margin-right:35px;
    }
}
.link-class {
    float: right;
    margin-left: 15px;
}
.btn{
    width: 300px;
}
